body {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    z-index: 0;
}

.iconbar {
    height: 50px;
    width: 50px;
}

#navbar {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 7px #000000;
    z-index: 100;
    position: fixed;
    top: 0%;
}

.navbar {
    display: flex;
    width: 100%;
}

.navelem {
    display: flex;
    padding: 20px;
    background-color:transparent;
}
.navelem a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 300ms;
}

.navelem a:hover {
    color: #ffe600;
    transition: 300ms;
    text-shadow: 0px 0px 7px #ffe600;

}

.imgintro {
    width: 100%;
    background-image: url(https://media.discordapp.net/attachments/1374046118719258649/1374046219726491749/background.png?ex=682c9fc3&is=682b4e43&hm=fcc5ef6ce1a29b46caba5ae9674fed1c4d1d9a840eb79a0600aa087be97bb72d&=&format=webp&quality=lossless&width=1553&height=874);
    height: 100vh;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.imgintro h1 {
    font-size: 90px;
    margin: 0%;
}

.imgintro img {
    height: 100px;
    padding: 15px;
}

.imgintro div {
    display: flex;
    align-items: center;
}

.imgintro p {
    font-size: 25px;
    margin: 0%;
}

#whoare {
    display: flex;
    height: 50vh;
    background-color: #0c0c0c;
}

.whopic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    background-image: url(https://media.discordapp.net/attachments/1374046118719258649/1374046220326142035/imagewho.png?ex=682c9fc3&is=682b4e43&hm=fe00231c15046692256e56cf00634d588317e400001b7446cef4de7b0330ba12&=&format=webp&quality=lossless&width=1162&height=874);
}

#whoare .whopic h1 {
    font-size: 90px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 40px black;
    font-weight: 600;
}

.textwho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(26, 26, 26);
    gap: 10px;
    padding: 10px;
}

.cardwho {
    background-color: white;
    height: 70%;
    width: 90%;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px black;
    padding: 30px;
}

.cardwho p {
    color: #000000;
    font-size: 30px;
    font-weight: 100;
}

#clientes {
    height: 150px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    font-weight: bold;
    color: white;
    height: 150px;
    border-radius: 5px;
    text-align: center;
    animation: flash 1s infinite alternate;
}


